@charset "utf-8";
/* CSS Document */

*{
	font-family: 'Raleway', sans-serif;
	box-sizing:border-box;
	color:#404041;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration:none;}
a:focus, a:hover {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;}
.bold{
	font-weight:bold;}
.border0{
	border:0 !important;}
/**/
img{
	vertical-align:initial;}
.banner-img{
	width:100%;}
.darkblue-bg{
	background-color:#00468c;}
.width-100{
	width:100%;
	padding-left:10%;
	padding-right:10%;}
.white-text{
	color:white;}	
.overflow-hidden{
	overflow:hidden;}
.center{
	text-align:center;}
.c-font{
	font-family: 'Courgette', cursive !Important;
	}
.margin-auto{
	margin:0 auto;}
.com2-view{
	display:block;}
.mobile2-view{
	display:none;}	
.darkblue-text{
	color:#00468c;}
.left{
	float:left;}
.right{
	float:right;}
.text-left{
	text-align:left;}
.img-width-100{
	width:100%;}
.img-width-80{
	width:80%;}
.width-40{
	width:40%;}
.width-60{
	width:60%;}
.width-50{
	width:45%;}
.h1{
	font-size:48px;}
.h2{
	font-size:36px;
	margin:0;}
.body-text {
    font-size: 27px;
}
.body-text2 {
    font-size: 32px;
}
.body-text3{
	font-size:24px;
	font-weight:300;}
.no-margin{
	margin:0;}
.right10{
	padding-right:10%;}
.left10{
		padding-left:10%;}
.height-100-clear{
	height:100px;}
.v1920{
	display:block;}
.v1500{
	display:none;}
.v800{
	display:none;}
.v500{
	display:none;}
/**/	
.left-logo {
    float: left;
    width: 150px;
}
.right-app {
    float: right;
    width: 100px;
    text-align: right;
}
.mobile-img{
	width:15px;}
.menu-link-div {
    width: 75%;
    float: left;
    padding-left: 11%;
    padding-top: 15px;
}
.menu-link-div2 {
    width: calc(100% - 600px);
    float: left;
    padding-top: 31.5px;
	padding-left:10px;}
.menu-link-div3{
	width: calc(100% - 250px);
	float: left;
    padding-top: 18px;}
.link-div{
	float:left;
	text-align: right;
    margin-left: 7%;}
.top-div{
	padding-top: 10px;
    padding-bottom: 2px;}
.bg1{
	background-image:url(../img/bg1.jpg);
    padding-top: 150px;
	padding-bottom:100px;
	}
.bg1-div1{
	margin-top:200px;
	
	}
.bg2{
	background-image:url(../img/bg2.jpg);
	z-index:-1;}
.bg3{
	background-image:url(../img/bg3.jpg);
	padding-top:150px;
	padding-bottom:150px;}
.bg4{
	background-image:url(../img/bg4.jpg);
	padding-top:150px;
	padding-bottom:150px;
	}
.bg5{
	background-image:url(../img/bg5.jpg);
	padding-top:100px;
	margin-top:-10px;
	padding-bottom:100px;
}
.bg1-bottom{
	height:100px;
	background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    background: -webkit-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    margin-top:-100px;}

.bg2-top{
	height:100px;
	margin-top: -2px;
	background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    background: -webkit-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
	z-index:2;
	position:absolute;}
.bg1-bottom20{
	height:150px;
	background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -webkit-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0));
    margin-top:-150px;}

.bg2-top20{
	height:150px;
	background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -webkit-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, #ffffff 10%, rgba(255, 255, 255, 0));
	z-index:2;
	margin-top: -2px;
	position:absolute;}
.bg2-div1{
	padding-top:150px;
	padding-bottom:150px;}
.bg3-div1{
	padding-top:90px;
	padding-bottom:90px;}
.width-full{
	width:135%;
	margin-left:-12.5%;}
.insta-small{
	width:49%;
	margin-right:1%;}
.insta-small2{
	width:49%;
	margin-left:1%;}
.insta-big{
	width:30.55%;
	}
.three-div {
    width: 31%;
	float:left;
}
.white-box{
	background-color:#fff7ee;
	margin-top:50px;
	margin-left:7.5%;
	margin-right:7.5%;
	padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0;
	}
.horizontal1{
	padding-left:2%;
	z-index: 5;
	position: relative;
    overflow: hidden;
	width: calc(99.5% - 36px);}
.horizontal-img{
	width: auto;
    height: 32px;
	}
.vertical{
	width:26px;
	height:950px;
	float:left;
	overflow: hidden;
	z-index: 5;
    position: relative;}
.left-div {
    float: left;
    width: 52%;
    padding: 2% 4%;
	position:relative;
}
.logo2 {
    margin: 25px 0;
	margin-bottom: 0;
	width: 200px;
}
.phone-img {
    width: 14px;
    margin-right: 20px;
}
.social-icon {
    width: 50px;
    margin-right: 25px;
}
.connect-p{
	margin-bottom:20px;}
.google-p{
	clear: both;
    padding-top: 40px;
	}
.active{
	font-weight:bold;}
.link-div:hover{
	opacity:0.8;
	
}
.border-right {
    border-right: 2px solid #3f3370;
    padding-right: 80px;
	padding-bottom: 60px;
}
.right-div {
    width: calc(44% - 36px);
    padding-top: 35px;
	padding-right: 2%;
}
.input:focus{	
	border:0 !important;
	outline: none !important;
	outline-offset: 0  !important;
	border-bottom: 1px solid #3f3370 !important;
}
.input:selected{
	border:0 !important;
	outline: none !important;
	outline-offset: 0  !important;
	border-bottom: 1px solid #3f3370 !important;}
.input:active{
	border:0 !important;
	outline: none !important;
	outline-offset: 0  !important;
	border-bottom: 1px solid #3f3370 !important;}
.input::selection {	
    border:0 !important;
	outline: none !important;
	outline-offset: 0  !important;
	border-bottom: 1px solid #3f3370 !important;}
.input-name {
    border: 0;
    background: none;
    border-bottom: 1px solid #3f3370;
    padding-top: 30px;
}
.msg-color{
	color:#5d696f;
	margin-bottom: 15px;}
.input-message {
    min-height: 150px;
    background: none;
    border: 1px solid #3f3370;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.opt-msg {
    width: 95%;
	margin-top: 3px;
    font-size: 21px;
}
.radio1 {
    width: 30px;
    margin-left: -10px;
    margin-top: 10px;
}
.input-submit {
    background-color: #00468c;
    border-radius: 5px;
    border: 0;
    font-size: 24px;
    padding: 10px 40px;
	margin-top: 20px;
}
.input-submit:hover{
	cursor:pointer;
	}
.form-class{
	margin-top:30px;
	}
.footer2 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.sun {
    position: absolute;
    margin-top: -362px;
    margin-left: -7.3%;
	z-index:1;
}
.front{
    z-index: 4;
    position: relative;}
.envelope-mview{
	display:none;}
.social2{
	display:none;}
.social-a:hover .social2{
	display:block;}
.social-a:hover .social1{
	display:none;}	
.social2:hover{
	display:block;}
.social1:hover{
	display:none;}	
.darker-hover:hover{
	color:#01366b;}
.darker-bg-hover:hover, .darker-bg-hover:focus{
	background:#01366b;
	}
.input-submit:hover{
	background-color:#01366b;}
.hover-a3:hover{
	opacity: 0.95;
	}	
.bg-forest{
	background-image:url(../img/forest-bg.jpg);
	margin-top: -200px;
    padding-top: 220px;
	padding-bottom: 150px;
	}
.cms-news-container{
	margin-top:80px;
	width:100%;
	margin-left: -1.665%;}
.cms-box1{
	width:30%;
	background-color: rgba(255, 255, 255, 0.57);
	margin-left: 3.33%;
    float: left;
	margin-bottom: 30px;}
.cms-box1:hover{
	opacity:0.9;}	
.cms-transparent-box{	
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;}
.cms-box-date {
    font-size: 21px;
}
.cms-box-title {
    font-weight: bold;
    font-size: 24px;
	min-height: 80px;
}
.view-all-button {
    clear: both;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    text-align: center;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #00468c;
    font-weight: bold;
    font-size: 24px;
    border: 1px solid #00468c;
    background-color: #f1f2f0;
    border-radius: 10px;}
.view-all-button:hover{
	background-color:white;
	text-decoration:none;}
/* CMS Menu*/
.ow-link-div{
	float:right !important;
	
}
.display-none{
	display:none;}
.menu-icon {
    width: 20px;
}
.ow-menu-link-div-admin {
    width: calc(100% - 480px);
    float: right;
}
.ow-icon-margin{
	margin-left:3%;}
.menu-img, .close-img {
    width: 25px;
}	
.mobile-menu {
    float: right;
}
.menu-img{
	margin-top:10px;
}
.sidenav-close{
	text-align:right;
	padding-right: 25%;}
.close-img{
    margin-top: 18px;
	margin-right: 10% !Important;
}
.mobile-menu{
	display:none;}
/*CMS Home*/
.grey-bg{
	background-color: #d2d8da;
    width: 100%;}
.white-bg{
	background-color: white;
    width: 50%;
    margin: 0 auto;
	padding-bottom:100px;}
.cms1-box {
    border: 1px solid #dedede;
	margin-bottom: 80px;
}
.cms1-inner-box {
    padding: 0 20px;
}
.cms1-date {
    font-size: 18px;
    margin-bottom: 10px;
	font-weight: 300;
}
.cms1-title {
    font-size: 21px;
    font-weight: bold;
    margin-top: 0;
	margin-bottom: 35px;
}
.cms1-li{
	display:inline-block;
	width:33%;
	text-align: center;}
.icon-png {
    width: 25px;
	margin-right: 10px;
}

.cms1-span {
    font-size: 21px;
	vertical-align: text-bottom;
}
.cms1-li:hover{
	cursor:pointer;}
.cms1-img:hover {
	opacity:0.8;
	cursor:pointer;
}
.cms1-a{
	color:#1d1e21;}
.cms1-a:hover{
	color:#00468c;	
}
.like2{
	display:none;}
.like-li:hover .like-span{
	color:#00468c !important;}
.like-span:hover{
	color:#00468c !important;}
.like-li:hover{
	color:#00468c !important;}
.like-li:hover .like1{
	display:none;}
.like-li:hover .like2{
	display:inline-block;}
	
.comment2{
	display:none;}
.comment-li:hover .comment-span{
	color:#00468c !important;}
.comment-li:hover{
	color:#00468c !important;}
.comment-span:hover{
	color:#00468c !important;}
.comment-li:hover .comment1{
	display:none;}
.comment-li:hover .comment2{
	display:inline-block;}
	
.bookmark2{
	display:none;}
.bookmark-li:hover .bookmark-span{
	color:#00468c !important;}
.bookmark-li:hover{
	color:#00468c !important;}
.bookmark-span:hover{
	color:#00468c !important;}
.bookmark-li:hover .bookmark1{
	display:none;}
.bookmark-li:hover .bookmark2{
	display:inline-block;}
#comment{
	display:none;}
.comment-div {
    padding: 10px 20px;
    border-top: 1px solid #dedede;
	padding-top: 35px;
}
.comment-div1 {
    width: 8%;
	float: left;
}
.comment-div2 {
    float: left;
    width: calc(92% - 103px);
    padding-left: 20px;
    padding-right: 20px;
}
.username-p {
    margin-top: -6px;
    font-weight: bold;
    font-size: 18px;
	margin-bottom: 0;
}
.commentdate-p {
    margin-top: 0px;
    font-size: 16px;
}
.comment-p {
    font-size: 16px;
}
.reply-p {
    color: #00468c;
	font-size: 18px;
}
.reply-p:hover {
	cursor:pointer;
	font-weight:bold;
	
}
.like2a{
	display:none;}
.like-span2:hover .like1a{
	display:none;
	cursor:pointer;
}
.like-span2:hover .like2a{
	display:inline-block;
	cursor:pointer;	
}
.like-span2 {
    vertical-align: sub;
    margin-left: 10px;
}
.flag-height{
	width:auto;
	height:25px;}
.comment-div3{
	float:right;
	text-align: right;
	width: 103px;
}
.flag-span{
	float:right;
	margin-top: 10px;	
}
.flag-span:hover{
	cursor:pointer;
}
.flag-span:hover .flag1{
	display:none;}
.flag2{
	display:none;}
.flag-span:hover .flag2{
	display:block;
}
.one-comment{
	clear:both;}
.reply-comment {
    width: calc(92% - 20px);
    margin-left: calc(8% + 20px);
    clear: both;
}
.one-comment-div {
    overflow: hidden;
    padding-bottom: 45px;}
.like-span-png{
	height:15px;}
.like-span2 {
    margin-right: 0;
    vertical-align: top;
	font-size:18px;
}
.like-span2:hover{
	cursor:pointer;
	color:#00468c;}
.like-span-png {
    height: 25px;}
.reply-comment-set{
	clear:both;}
#reply{
	display:none;}
.comment-div2a {
    width: 70%;
    float: left;
    margin-left: 20px;}
.comment-input {
    border: 1px solid grey !important;
    height: 60px !important;
    margin-top: 5px !important;
    border-radius: 30px !important;
	padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 16px !important;
	width: 100% !important;
	transition:none !important;
}
.comment-input:focus{	
	border: 1px solid grey !important;
	border-bottom: 1px solid grey !important;
	outline: none !important;
	outline-offset: 0  !important;
	transition:none !important;
}

.comment-input:selected{
	border: 1px solid grey !important;
	border-bottom: 1px solid grey !important;	
	outline: none !important;
	outline-offset: 0  !important;
	transition:none !important;}
.comment-input:active{
	border: 1px solid grey !important;
	border-bottom: 1px solid grey !important;	
	outline: none !important;
	outline-offset: 0  !important;
	transition:none !important;}
.comment-input::selection {	
    border: 1px solid grey !important;
	border-bottom: 1px solid grey !important;	
	outline: none !important;
	outline-offset: 0  !important;
	transition:none !important;}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid grey !important;	
    -webkit-box-shadow:none !important;
          box-shadow:none !important;	
}
.comment-div3a {
    float: right;
}
.submit-comment {
    border: 0;
    background-color: #00468c;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
}
.submit-comment:hover{
	cursor:pointer;
	background-color:#005fbd;}
.submit-comment:focus{
	background-color:#005fbd;
}
#replytwo, #replythree, #replyfour, #replyfive{
	display:none;}
.comment-input{
	width: 96% !important;
}
.toggle-p{
	margin-bottom:40px;}
.comment-select-div span{
	color:black !important;}
.comment-select-div input:focus{
	border-bottom:1px solid #9e9e9e !important;}
.comment-select-div{
	font-family: 'Raleway', sans-serif !Important;}
.form-span {
    font-size: 19px !important;
}
[type="radio"] + .form-span:before, [type="radio"] + .form-span:after{
	width: 18px;
    height: 18px;
    margin-top: 3px;
}
.modal-textarea {
    height: 120px;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 16px !important;
	border: 1px solid grey;
	padding: 10px 20px;
}
.form-input2 {
    margin-bottom: 30px;
}
.modal-title {
    font-weight: bold;
    text-align: center;
	margin-bottom: 30px;
	width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
	padding-top: 30px;
}
.form-input2 input{
	font-size:18px !important;}
.cross-img{
	position: absolute;
    right: 24px;
}
.cross-img:hover{
	opacity:0.75;}
.centerise{
	width:100%;
	text-align:center;}
.diy-blue-wave{
	border-radius: 15px;
    width: 200px;
    background-color: #00468c;
	text-transform: initial;
}
.diy-blue-wave:hover{
    background-color: #0061c1;
}
.diy-blue-wave:focus{
    background-color: #0061c1;
}
.diy-blue-line-wave{
	border-radius: 15px;
    width: 200px;
    border: 2px solid #00468c;
	background-color:white;
	color:#00468c;
	font-weight:bold;
}
.diy-blue-line-wave:hover{
    background-color: #0061c1;
	border: 2px solid #0061c1;
	color:white;
}
.diy-blue-line-wave:focus{
    background-color: #0061c1;
	border: 2px solid #0061c1;
	color:white;	
}
.spacing{
	margin-top:15px;}
#modal1{
	top: 18vh !important;
}
.article-span {
    padding-right: 15px;
}
.article-start-div {
    padding: 20px 3%;
	
}
.article-date {
    font-size: 18px;
    margin-top: 0;
}
.artitle-date-div {
    float: left;
	width: calc(100% - 250px);
}
.artitle-icon-div{
	float:right;}
.article-category-span {
    color: #00468c !important;
}
.article-category-span:hover {
    color: #0061c1 !important;
}
.article-span-icon {
    margin-left: 17px !important;
    margin-top: 0 !important;
	float: none;
}
.author-pen-span:hover{
	cursor:pointer;}
.pen2{
	display:none;}
.author-pen-span:hover .pen1{
	display:none;
}
.author-pen-span:hover .pen2{
	display: inline-block;
}
.article-bookmark-span:hover{
	cursor:pointer;}
.article-bookmark-span:hover .bookmark1{
	display:none;}
.article-bookmark-span:hover .bookmark2{
	display: inline-block;}
.article-flag-span:hover .flag2{
	display:inline-block;
	}
.pointer:hover{
	cursor:pointer;}
.yupa-a-color{
	color:#00468c;}
.yupa-a-color:hover{
	color:#0061c1;}
.article-title-p {
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
	margin-bottom: 0;
}
.article-author-p {
    margin-top: 0 !important;
    font-size: 21px;
}
.article-content-div {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}
.image-description {
    margin-top: 0;
}
.article-content-img{
	margin-top:20px;}
.article-content-p {
    margin-top: 30px;
}
.big-icon {
    width: 150px;
}
.big-like2{
	display:none;	
}
.big-like-span:hover .big-like-p1{
	color:#00468c;}
.big-star-span:hover .big-share-p1{
	color:#00468c;}
.big-like-span:hover .big-like2{
	display:inline-block;}
.big-like-span:hover .big-like1{
	display:none;}
.big-star2{
	display:none;
}
.big-star-span:hover .big-star1{
	display:none;}
.big-star-span:hover .big-star2{
	display:inline-block;}
.big-star-span:hover .big-star2{
	display:inline-block;}	
.article-action-div {
    margin-top: 60px;
}
.article-action-inner-div {
    width: 50%;
    float: left;
    text-align: center;
}
.grey-to-blue:hover{
	color:#00468c;}
.big-like-p {
    font-size: 36px;
}
.a2a_kit a {
    margin-top: 10px;
}
.share-p{
	margin-top:70px;
	margin-bottom: 0;
	font-size:24px;
	font-weight:bold;}
.ow-cms-transparent-box{
	padding-left:10px;
	padding-right:10px;}
.cms-box-date2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 16px;
}
.cms-box-title2 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}
.ow-cms-news-container{
	margin-top:15px;
	margin-left: -3.33%;}
.ow-cms-box1{
	border:1px solid grey;}
.ow-comment-div{
	border-top:0 !important;}
.ow-comment-div{
	border-top:0;
	padding-left: 0;
    padding-right: 0;}
.ow-toggle-p{
	text-align:center;
	margin-bottom: 10px;
	
}
.triangle-img{
	width:20px;}
.ow-comment-div .comment-input{
	height: 45px !important;
}
.ow-comment-div .comment-div2a {
    width: calc(80% - 100px);}
.ow-comment-div .submit-comment{
	margin-top: 10px;
}
.ow-box-title{
	min-height: 80px;
}
.ow-article-white-bg{
	padding-bottom:50px;}
.ow-comment-input{
	width:100% !important;}
/**Login**/
.login-div {
    width: 80%;
    margin: 0 auto;
	padding-top: 50px;
}
.big-logo{
	width:200px;}
.login-p {
    font-size: 27px;
    text-align: center;
}
.login-input {
    border: 1px solid grey !important;
    clear: both;
	padding: 0 20px !important;
	box-sizing:border-box !important;
	margin-bottom: 10px !important;
}
.login-input-width{
	border-radius: 25px !important;
    width: 70% !important;
    margin-left: 15% !important;
	font-size: 18px !important;
	}
.blue-login {
    background-color: #00468c;
    border: 0;
    color: white;
    height: 45px;
	margin-top: 10px;
}
.forgot-p{
	font-size: 17px;}
.blue-hover{
	color:#039be5;
}
.blue-hover:hover{
	cursor:pointer;
	color:#00468c;
	}
.register-here-p {
    font-size: 17px;
}
.here-a{
	text-decoration:underline;}
.input-font {
    font-size: 16px !important;
	margin-bottom: 20px !important;
	font-weight: 300;
}
.input-div2 {
    width: 80%;
    margin-left: 10%;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #00468c !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:  textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type=date]{
	-moz-appearance:  textfield;
}
.select-wrapper input.select-dropdown:focus{
	border-bottom: 1px solid #9e9e9e;
}
.dropdown-content li > a, .dropdown-content li > span{
	color:#00468c;
	
}
.select-wrapper + label{
	font-size:14px;}
.spacing-p {
    height: 5px;
}
.spacing-p2 {
    height: 1px;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after{
	border: 2px solid #00468c;
    background-color: #00468c;
}
.spacing-p3 {
    height: 10px;
}
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after{
	top: 4px;
}
[type="checkbox"].filled-in:checked + span:not(.lever):before{
	top: 4px;	
}
[type="checkbox"].filled-in:checked + span:not(.lever):after{
	top: 4px;		
}
.profile-div {
    width: 100%;
	clear:both;
}
.profile-div1 {
    width: 190px;
    float: left;
    padding-left: 30px;
	padding-top: 50px;
}
.profile-div2 {
    width: calc(100% - 380px);
    padding-left: 4%;
    float: left;
	padding-top: 50px;
}
.username-p2 {
    margin-top: -8px;
    font-weight: bold;
    font-size: 24px;
	margin-bottom:0;
}
.profile-gap {
    margin-top: 15px !important;
}
.profile-info {
    margin-top: 0;
    margin-bottom: 0;
}
.profile-friend {
    margin-top: 13px !important;
}
.friend-icon {
    width: 25px;
}
.add-friend-button {
    float: right;
    background: #00468c;
    color: white;
	padding-top: 7px;
    border-radius: 15px;
	margin-right: 30px;
	margin-top: 50px;
	width: 136px;
    text-align: center;
	padding-bottom: 4px;
}
.add-friend-span {
    color: white;
	vertical-align: super;
}
.v-430{
	display:none;}
.tab-div {
    clear: both;
    padding-top: 25px !important;
}
.tab-menu {
    width: 100%;
}
.tab-menu-li {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: none !important;
}
.tab-menu-ul {
    position: initial;
}
.tab-icon {
    width: 20px;
}
.tab-pen2, .tab-star2{
	display:none;}
.pen-li:hover .tab-pen1{
	display:none;}
.pen-li:hover .tab-pen2{
	display:inline-block;}
.star-li:hover .tab-star1{
	display:none;}
.star-li:hover .tab-star2{
	display:inline-block;}
.tab-span {
    font-size: 21px;
}
.tab-menu-li:hover, .tab-menu-li:focus{
	font-weight:bold;
	color:#1f1f1f;
	
}
.tabs .tab tab-a:hover, .tabs .tab a.active{
	
	background:none !important;
	font-weight:bold;
	color:#1f1f1f;

	}
.pen-li:active .tab-pen1 {
	display:none !important;
	}
.pen-li:active .tab-pen2 {
	display:inline-block !important;
	}
.pen-li a.active .tab-pen1 {
	display:none !important;
	}
.pen-li a.active .tab-pen2 {
	display:inline-block !important;
	}
.star-li:active .tab-star1 {
	display:none !important;
	}
.star-li:active .tab-star2 {
	display:inline-block !important;
	}
.star-li a.active .tab-star1 {
	display:none !important;
	}
.star-li a.active .tab-star2 {
	display:inline-block !important;
	}
.tab-menu-li {
    border: 1px solid grey;
}
.tabs .indicator{
	display:none;}
.pen-li{
	border-right:0;}
.modal-footer {
    margin-top: -20px;
}
.unfriend-span{
	color:#00468c;
	font-weight:bold;
}
.outline-div {
    border: 2px solid #00468c;
    background: none;
    color: #00468c;
}
.unfriend2{
	display:none;}
.outline-div:hover .unfriend1{
	display:none;}
.outline-div:hover .unfriend2{
	display:inline-block;}
.outline-div:hover{
	background-color:#00468c;}
.outline-div:hover .unfriend-span{
	color:white;
	
}
.unfriend-title {
    font-size: 27px;
    padding-bottom: 20px;
}
.settings{
    background: none !important;
    padding-top: 0;
    width: 25px;
}
.search-div {
    width: 330px;
	padding-left: 50px;
    float: left;
}
.search-input{
	width: 100%;
    float: left;
	color:white;
	height: auto !important;
    padding-bottom: 5px !important;
    margin-top: 20px !important;}
.png-submit-button {
    width: 20px;
    background: none;
    border: 0;
	padding: 0;
	float: left;
    margin-left: -22px;
    vertical-align: bottom;
    line-height: 60px;
}
.notis-div{
	margin-top:-6px;}
.index-link-div {
	width:25%;
	margin-left:0;
	text-align: center;}
.friend-title {
    font-weight: bold;
    font-size: 32px;
    padding-left: 30px;
    margin-bottom: 0;
	padding-right:30px;
}
.friend-info {
    font-size: 18px;
}
.decline-div{
	margin-top:10px;}
.accept-div{
	padding-bottom:2px;}
.decline-div{
	padding-bottom:0;}
.friend-list {
    clear: both;
    padding-top: 50px;
    margin-top: 0;
}
.friend-search-input {
    width: calc(100% - 60px) !important;
    border: 1px solid grey !important;
    border-radius: 25px !important;
    font-size: 18px !important;
    padding-left: 25px !important;
    box-sizing: border-box !important;
    margin-left: 30px !important;
	margin-top: 25px !important;
}

.friend-search-icon {
    width: 25px;
    margin-left: -70px;
    vertical-align: sub;
}
.notification-div {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.notification-content {
    color: #040404;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.notification-date {
    margin-top: 0;
    font-size: 16px;
    color: grey;
	font-weight: 100;
}
.flag-tab-div{
	padding-top:0 !important;}
.category-div .select-wrapper input.select-dropdown{
	border:0;
	width: 100px !important;
    float: left;
	line-height:normal !important;
	height:auto !important;
	font-size:18px !important;
	margin-top: 1px;}
.category-span {
    float: left;
	margin-right: 10px;
}
.category-div, .sortby-div{
	font-size:18px;}
.category-div .select-wrapper .caret{
    top: initial;
    bottom: initial;
	right:initial;
	margin-left:-20px;
}
.category-div{
	width: calc(50% - 30px);
    float: left;
    margin-left: 30px;
}
.sortby-div{
    width: calc(50% - 30px);
    float: right;
    margin-right: 30px;
}
.sortby-span{
	float:right;
	margin-right:10px;}
.sortby-div .select-wrapper input.select-dropdown{
	border:0;
	width: 150px !important;
    float: right;
	line-height:normal !important;
	height:auto !important;
	font-size:18px !important;
	margin-top: 1px;}
.sortby-div .select-wrapper .caret{
	right: 0;
    top: initial;
    bottom: initial;
	margin-left:-20px;
}
.flag-search-input{
	margin-bottom:35px !important;}
.flag-div{
	padding-top:50px;}
.view-small{
	display:none;}
.flag-orange{
	color:orange;}
.spacing2{
	margin-top:50px;}
.button-a, .button-a:focus, .button-a:active {
    background: none;
    border: 0;
}
.button-a{
	padding:0;}
.button-a:hover{
	cursor:pointer;}
.article-sortby .select-wrapper input.select-dropdown{
	width:180px !important;}
.thankyou-p {
    font-weight: bold;
    font-size: 36px;
}
.submission-div {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.submission-p {
    font-size: 18px;
}
.confirm-a{
	font-size: 21px;
}
.experience-div {
    padding: 20px 5%;
}
.experience-p {
    font-size: 32px;
    font-weight: bold;
}
.upload-cover {
    font-size: 16px;
    font-weight: 500;
}
.ow-btn{
	background-color: #00468c;
	border-radius: 10px;
}
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown{
border-bottom: 1px solid #00468c;
-webkit-box-shadow: 0 1px 0 0 #00468c;
box-shadow: 0 1px 0 0 #00468c;

}
.photo-span{
	text-transform:none;}
.edit-profile-div{
	padding:50px 5%;}
.edit-profile-div1 {
    width: 200px;

}
.edit-profile-div2 {
    padding-bottom: 80px;
}
.upload-button{
	width:200px;}
.none{
	display:none;}
.edit-profile-input{
	margin-top:0;}
.label-actor {
    margin-bottom: 0;
    color: #888888;
    margin-top: 25px;
    font-size: 14px;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00468c !important;
  -webkit-box-shadow: 0 1px 0 0 #00468c !important;
          box-shadow: 0 1px 0 0 #00468c !important;
}
.icon-input{
	padding-right: 55px !important;
    box-sizing: border-box !important;
}
.chips.focus{
  border-bottom: 1px solid #00468c !important;
  -webkit-box-shadow: 0 1px 0 0 #00468c !important;
          box-shadow: 0 1px 0 0 #00468c !important;}
.chips .input{
	width:180px !important;}
.chip{
	background:none;
	font-size:16px;
	padding-left:0;}
.chip .close{
	background-image:url(../img/closed-18.png);
	font-size:0;
	height: 18px;
    width: 18px;
    margin-left: 10px;
    margin-top: 6px;}
.chip .close:hover{
	background-image:url(../img/closed-blue-18.png);}
.gap{
	margin-top:80px;}
.logout-p{
	margin-top:25px;}
.pencil-position{
	margin-left: -35px;
}
.pencil-size{
	width:25px;}
.pencila-size{
	width:20px;}
.email-gap{
	margin-top:40px;}
.ow-login-input{
	border-radius: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 0 !important;
    border-bottom: 1px solid grey !important;
    padding-left: 0 !important;
	
}
.ow-radius-input:focus, .ow-radius-input:active{
   border: 1px solid grey  !important; 
  -webkit-box-shadow:none !important;
          box-shadow:none !important;}
.ow-radius-input:not([type]):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:not(.browser-default):focus:not([readonly]),
.ow-radius-input:focus:not([readonly]) {
  border-bottom: 1px solid grey !important;
  -webkit-box-shadow:none !important;
          box-shadow:none !important;

}
.search-input:focus{
	border-bottom:1px solid white !important;}
.ow-tab-menu-li{
	width:20%;
	border-left:0;
	border-right:0;
}
.ow-tab-a{
	color:black !important;}
.ow-tab-a:hover{
	color:#00468c !important;
	background:none !important;}
.ow-tab-a.active{
	color:#00468c !important;	
	}
.glass-png{
    width: 120px;}
.tab-content-gap{
	margin-top:25px;}
.view-small2{
	display:none;}
.ow-menu-link-div-admin{
	padding-top:20px;}
.user-a{
	color:#404041;}
.user-a:hover{
	color:#00468c;}
.tab-icon {
    width: 17px;
    margin-right: 3px;
}
.hover-turn-blue:hover{
	color:#00468c;
	
}
.ow3-bg1{
	margin-top:-120px;}
/* CMS Slider */
.carousel-inner{
	margin-top:58px;}
.carousel-control.left{
	background-image:none !important;}
.carousel-control.right{
	background-image:none !important;}
.white-arrow-png {
    width: 40px;
}
.carousel-control.left {
	margin-left: 2%;
}
.carousel-control.right {

	margin-right: 2%;
}
.carousel-control{
	display:none;
	background-image: none !important;
    width: auto !important;
    height: auto !important;
    top: 44%;
    opacity: 0.8;}
.container-slider:hover .carousel-control{
	display:block;}
.ow3-forest {
    margin-top: 0 !important;
    padding-top: 50px !important;
}
.spacing-p4 {
    margin-top: 70px;
}
.img-preview-div, .preview-img {
    width: 100%;
}
.width-400{
	width:400px;
	text-transform:none !important;
	font-size:18px;}
.text-transform-none{
	text-transform:none !important;}
.search-bar-padding{
	padding-right:55px !important;}
.menu-search-bar{
	padding-right:35px !important;
	box-sizing:border-box !important;}
.insta10{
	display:none;}
.address-p{
	float: left;
    width: calc(100% - 50px);
    margin-bottom: 0;
    margin-top: -5px;
}
.gps-img{
	float:left;}
.index3-contact-text{
	margin-top:1em;
	margin-bottom:1em;
	
}
.index3-connect-p{
	margin-top:1em;
}
.index3-contactus{
	font-weight:bold;}

.index3-sun {
    margin-top: -388px !important;
}
.index3-radio{
	text-align: left;
    margin-left: -10px !important;
    margin-top: 10px !important;
}
.index3-message{
	margin-top:1em;	
}
.mobile-span{
	display:none;}
.index3-vertical {
    height: 1005px;
}
.form-text, .opt-msg {
    font-size: 19px !important;
}
@media all and (max-width: 1877px){
.vertical {
    height: 972px;}	
.index3-vertical {
    height: 1040px;
}
}
@media all and (max-width: 1872px){
.index3-vertical {
    height: 1040px;
}
}
@media all and (max-width: 1833px){
.sun{
	margin-top: -367px;
}
.index3-sun {
    margin-top: -405px !important;
}

}
@media all and (max-width: 1800px){	
.ow-box-title{
	font-size: 16px;
}
.ow-article-box-date{
	font-size: 15px;
}
}
@media all and (max-width: 1790px){	

.input-submit{
	    margin-top: 10px;
	}
}
@media all and (max-width: 1750px){	
.menu-link-div{
	padding-left: 9%;
	}
}
@media all and (max-width: 1741px){	
.form-text {
    font-size: 26.5px;
}
}
@media all and (max-width: 1714px){
.form-text {
    font-size: 26.3px;
}	
}
@media all and (max-width: 1703px){
.form-text {
    font-size: 26.1px;
}
}
@media all and (max-width: 1708px){

.index3-vertical {
    height: 990px !important;
}
.index3-sun {
    margin-top: -420px !important;
}
}
@media all and (max-width: 1703px){
.form-text {
    font-size: 26.1px;
}
}
@media all and (max-width: 1700px){
.comment-input {
	height: 50px !important;
}
.submit-comment {
	margin-top: 13px;
}
.reply-comment-input{
	width: 92% !important;
}
.ow-comment-div .reply-comment-input {
    width: 96% !important;
}
.ow-comment-div .reply-comment-input{
    height: 35px !important;	
}
.ow-comment-div .reply-submit-button{
	margin-top:5px;
	
}
.ow3-bg1 {
    margin-top: -190px;
}
}
@media all and (max-width: 1692px){

.index3-vertical {
    height: 1037px !important;
}
}
@media all and (max-width: 1675px){
.insta-big {
    width: 30.63%;
}

}

@media all and (max-width: 1663px){
.vertical {
    height: 985px;
}
.index3-vertical {
    height: 1063px !important;
}
}

@media all and (max-width: 1659px){
.vertical {
    height: 1005px;
}
.index3-vertical {
    height: 1080px !important;
}
}
@media all and (max-width: 1650px){
.bg-forest {
    padding-top: 180px;}

}
@media all and (max-width: 1609px){
.cms1-li {
    width: 32.9%;}


}
@media all and (max-width: 1605px){
.left-div {
    width: 51.8%;
}
}
@media all and (max-width: 1600px){
.ow-comment-div .comment-input {
    height: 38px !important;
}
.ow-comment-div .submit-comment {
    margin-top: 6px;
}
.friend-icon {
    width: 20px;
}
.add-friend-span{
	font-size: 13.5px !important;
	vertical-align: top;
	line-height: 24px;
}
.accept-div, .decline-div {
    padding-bottom: 5px;
    padding-top: 5px;
}
.decline-div {
    padding-top: 3px;
    padding-bottom: 3px;
}
.form-text {
    font-size: 21px;
}
.envelope-contactus{
    font-size: 32px;	
}
.logo2{
	width: 200px;
}
.connect-p{
	font-size: 27px;}
.opt-msg{
	font-size: 18px;}
.vertical {
    height: 970px;
}
.index3-vertical {
    height: 1055px !important;
}
}
@media all and (max-width: 1580px){
.width-100{
	padding-left:7.5%;
	padding-right:7.4%;}	
.top-div{
	padding-bottom:5px;}	
.menu-link-div{
	padding-left: 8%;
	}
.width-full{
	width: 126.8%;
	margin-left: -8.75%;
	}
.insta-small {
    width: 48.95%;}
.insta-small2 {
    width: 48.95%;}
.insta-small {
    width: 48.92%;
}
}
@media all and (max-width: 1560px){
.comment-input {
    height: 45px !important;
}
.submit-comment {
    margin-top: 10px;
}
}
@media all and (max-width: 1537px){
.form-text, .opt-msg {
    font-size: 18px !important;
}
.vertical {
    height: 950px;
}
.index3-vertical {
    height: 1025px !important;
}	
}
@media all and (max-width: 1532px){
.left-div {
    width: 51.5%;
}

}
@media all and (max-width: 1529px){
.index3-vertical {
    height: 1020px !important;
}
}
@media all and (max-width: 1500px){
.v1920{
	display:none;}
.v1500{
	display:block;}
.bg1 {
	background-image:url(../img/bg1-1500.jpg);
	background-position:center;
	}
.bg2{
	background-image: url(../img/bg2-1500.jpg);}
.bg3{
	background-image: url(../img/bg3-1500.jpg);}
.bg4{
	background-image: url(../img/bg4-1500.jpg);}	
.bg5 {
    background-image: url(../img/bg5-1500.jpg);	}
.m80{
	width:80%;}
.bg-forest {
    padding-top: 120px;
}
.cms-box-date {
    font-size: 18px;
}
.cms-box-title {
    font-size: 21px;}
.view-all-button{
	font-size: 21px;
}
.big-icon {
    width: 120px;
}
.big-like-p{
	margin-top:0;}
.ow-box-title {
    min-height: 100px;
}	
.friend-title{
	font-size:27px;}
.edit-profile-div1 {
    width: 150px;
}
.upload-button {
    width: 150px;
}
}
@media all and (max-width: 1505px){


.index3-vertical {
    height: 1015px !important;
}

}
@media all and (max-width: 1479px){
.vertical {
    height: 972px;
}
.index3-vertical {
    height: 1047px !important;
}
}
@media all and (max-width: 1450px){
.bg1-h1{
	margin-top: -50px;
	}	
.bg1-div1 {
    margin-top: 150px;
}
.title{
	margin-bottom:0;}
.menu-link-div {
    padding-left: 8%;
}
.bg4 {
	padding-top: 250px;
	}
.h1 {
    font-size: 42px;
}
.body-text2 {
    font-size: 27px;
}
.body-text3 {
    font-size: 21px;
}
.opt-msg {
    width: 93%;}
.ow3-forest{
	padding-top: 120px !important;
}
.sun {
    margin-top: -375px;
}
.index3-sun {
    margin-top: -406px !important;
}
.second-index3-sun {
    margin-top: -373px;
}
}
@media all and (max-width: 1435px){
.left-div {
    width: calc(54% - 36px);
}
.sun {
    margin-top: -335px;
}
.index3-vertical {
    height: 1000px !important;
}
.form-text, .opt-msg {
    font-size: 17px !important;
}
.second-index3-sun{
    margin-top: -373px;	
}
}
@media all and (max-width: 1430px){
.reply-comment-input {
    height: 40px !important;
    margin-top: 4px !important;	
}
.reply-submit-button{
	margin-top: 8px;
}
}
@media all and (max-width: 1429px){
.sun {
    margin-top: -358px;
}
.second-index3-sun{
    margin-top: -373px;		
}
.index3-vertical {
    height: 1033px !important;
}
}
@media all and (max-width: 1421px){
.envelope-contactus{
	font-size: 32px;
}
.form-text {
    font-size: 19px;
}
.opt-msg {
    font-size: 16px;
}
.sun {
    margin-top: -345px;
}
.second-index3-sun {
    margin-top: -360px;
}

}

@media all and (max-width: 1400px){
.menu-link-div {
    padding-left: 5%;
}
.ow-normal-menu-div {
    padding-right: 3%;
}
.ow-icon-margin {
    margin-left: 4%;
}
.cms1-date {
    font-size: 16px;}
.cms1-title {
	font-size: 18px;
}	
.ow-comment-div .reply-comment-input {
    width: 92% !important;
}
.share-p{
	font-size: 21px;
}
.input-div2 {
    width:100%;
    margin-left: 0;
}
.profile-div1 {
    width: 170px;
    padding-left: 20px;}
.username-p2{
	font-size: 21px;
}
.profile-info{
	font-size: 13.5px;
}

.profile-friend {
    margin-top: 7px !important;
}
.profile-gap {
    margin-top: 7px !important;
}
.friend-icon {
    width: 17px;
}
.add-friend-span {
    font-size: 12px !important;
    line-height: 20px;
}
.add-friend-button{
	width: 120px;
}
.profile-div2 {
    width: calc(100% - 335px);}
.add-friend-button{
    margin-right: 20px;	
}
.tab-span {
    font-size: 16px;
}
.tab-icon {
    width: 15px;
}
.settings{
    width: 25px;
}
.search-div {
    width: 300px;
    padding-left: 25px;}
.ow-menu-link-div-admin {
    width: calc(100% - 400px);}
.admin-search-div{
	width:250px;}
.friend-title{
	padding-left:20px;
	padding-right:20px;}
.friend-search-input {
    width: calc(100% - 40px) !important;
	margin-left: 20px !important;
	}
.notification-div{
	padding-left:20px;
	padding-right:20px;}
.category-div {
    width: calc(50% - 20px);
    margin-left: 20px;
}
.sortby-div {
    width: calc(50% - 20px);
    float: right;
    margin-right: 20px;
}
}

@media all and (max-width: 1369px){
.sun {
    margin-top: -365px;
}
.second-index3-sun {
    margin-top: -373px;
}
.index3-vertical {
    height: 1045px !important;
}
}

@media all and (max-width: 1360px){
.ow3-bg1 {
    margin-top: -230px;
}
}
@media all and (max-width: 1350px){
.bg3-div1 {
    padding-top: 60px;}
}
@media all and (max-width: 1340px){
.search-div {
    width: 250px;}
.menu-link-div2 {
    width: calc(100% - 550px);
    padding-right: 0;}
.png-submit-button {
    width: 18px;}
.ow-menu-link-div-admin {
    width: calc(100% - 350px);
}
.admin-search-div {
    width: 200px;
}	
}
@media all and (max-width: 1330px){
.comment-input {
    width: 90% !important;
}
.reply-comment-input {
    width: 83% !important;
}
.reply-submit-button {
    margin-top: 6px;
}
}
@media all and (max-width: 1311px){
.logo2 {
    width: 170px;
}
.vertical {
    height: 985px;
}
.sun {
    margin-top: -373px;
}
.index3-vertical {
    height: 1070px !important;
}
}
@media all and (max-width: 1300px){
.bg1-h1 {
    margin-top: -110px;
}
.bg1{
    padding-top: 250px;
	}
.img1-div{
	padding-left:5%;}
.bg1-div1 {
    margin-top: 120px;
}
.bg-forest {
    padding-top: 270px;
    margin-top: -300px;
}
.modal-title{
	font-size: 27px;
}
.cross-img{
	width: 30px;
}
.ow-comment-div .reply-comment-input {
    width: 88% !important;
}
.indicator-img {
    width:35px;
}
.ow3-forest {
    padding-top: 180px !important;
}
}
@media all and (max-width: 1299px){
.vertical {
    width: 25px;
	height: 985px;}
.horizontal-img{
	height: 25px
	}
.img-height-100{
	width:25px;}
.sun {
    margin-top: -375px;
}
}

@media all and (max-width: 1280px){
.menu-link-div {
    padding-left: 3%;
}
.admin-search-div {
    width: 170px;
}
.ow-menu-link-div-admin {
    width: calc(100% - 320px);
}

}
@media all and (max-width: 1270px){
.index-link-div{
    margin-left: 9.2%;
	width:auto;	
}
}
@media all and (max-width: 1255px){
.left-div {
    width: 98%;
    float: none;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
	text-align: center;
}
.envelope-contactus{
	text-align:center;}
.border-right {
    border-right: 0;
    padding-right: 0;
	border-bottom: 2px solid #3f3370;}
.envelope-social{
	text-align:center;}
.social-icon{
	float:none;
	margin-right: 15px;
    margin-left: 15px;}
.sun{
	display:none;
	position:relative;}
.google-p {
    clear: inherit;
    padding-top: 0;
}
.right-div {
    width: 98%;
    padding-right: 10%;
    padding-left: 10%;
	float:none;
}
.stamp-img{
	display:none;}
.form-class {
    margin-top: 0;}
.envelope-clear{
	clear:inherit;}
.opt-msg {
    width: 97%;
}
.vertical {
    height: 1385px;
}
.envelope-mview{
	display:block;
	float:right;}
.envelope-hide{
	display:none;
}
.btm-horizontal {
    float: none;
    clear: both;
    width: 79.5%;
    padding-left: 0;
    position: absolute;
    margin-top: 70px;
}
.white-box{
	overflow: initial;
    padding-bottom: 130px;
	margin-top: 0;
	padding-right: 30px;
	}
.contact-text{
	font-size: 23px;}
.logo2{
	width: 220px;
	}
.contact-text2{
	font-size:21px;}
.opt-msg{
	font-size:18px;}
.input-submit{
	font-size:21px;}
.input-name{
	padding-top: 20px;
	}
.input-message {
    min-height: 130px;}
.bg5{
	overflow: initial;
	}
.input-message{
	padding-left: 2px;
	}	
.cms1-li {
    width: 32.6%;
}
.address-p{
	width: calc(100% - 20px);
}
.gps-img{
	margin-right:0;}
.phone-img {
    width: 17px;}
.index3-vertical {
    height: 1400px !important;
}
.border-right {
    padding-bottom: 20px;
}
.web-p{
	display:none;}
.mobile-span{
	display:inline-block;}
.address-p {
    width: auto;
	margin-left: 20px;
	float:none;
}
.gps-img{
	float:none;}
.phone-img {
    width: 14px;
}
.form-text {
    font-size: 19px;
}

.index3-vertical {
    height: 1450px !important;
}
.index3-google-p{
	padding-top: 1em;
}
}
@media all and (max-width: 1245px){
.ow-link-div{
	margin-left:5%;}	
}
@media all and (max-width: 1232px){
.opt-msg {
    width: 96%;
}
}
@media all and (max-width: 1230px){
.bg3-div1 {
    padding-top: 40px;}	
.ow3-bg1 {
    margin-top: -280px;
}

}
@media all and (max-width: 1200px){
.white-bg {
    width: 60%;}
#modal1{
	top:15vh !important;}
.ow-cms-news-container{
	margin-left: 0;
}
.ow-cms-box1 {
    margin-left: 20%;
    width: 60%;}
.ow-box-title {
    min-height: 0;
}
.ow-share-p{
	text-align: center;
    margin-bottom: 30px;
}
.ow3-menu, .ow3-mobile-text{
	font-size:14px;}
}


@media all and (max-width: 1180px){
.menu-link-div {
    width: 70%;
	padding-left: 5%;}
.link-div{
	margin-left: 5%;
	}
.ow-normal-menu-div {
    padding-right: 0;
}
.index-link-div {
	margin-left:8.2%;}	
}
@media all and (max-width: 1160px){
.comment-input {
    height: 38px !important;
}
.submit-comment {
    margin-top: 6px;
}
}
@media all and (max-width: 1150px){
.bg1-div1 {
    margin-top: 90px;
}
.text-p {
    margin-top: 15px;
}
}
@media all and (max-width: 1146px){
.bg3-div1 {
    padding-top: 20px;}

}
@media all and (max-width: 1125px){

.index3-vertical {
    height: 1460px !important;
}
}
@media all and (max-width: 1120px){
.left-logo {
    float: left;
    width: 125px;
}
.mobile-img {
    width: 12px;
}
.search-input{
    margin-top: 13px !important;	
}
.png-submit-button{
	line-height: 50px;
}
.menu-link-div2{
	padding-top: 21px;
}
.right-app{
	width:85px;}
.search-div {
    width: 200px;
}
.menu-link-div2 {
    width: calc(100% - 430px);}
.menu-link-div3 {
    width: calc(100% - 210px);}
.admin-search-div{
	width:170px;}
.ow-menu-link-div-admin {
    width: calc(100% - 320px);
}
.ow-menu-link-div-admin{
	padding-top:12px;}
}
@media all and (max-width: 1108px){
.btm-horizontal{
	width: 78.5%;
	}

}
@media all and (max-width: 1100px){

.bg2{
	background-image: url(../img/bg2-1100.jpg);}

.ow-comment-div .comment-input {
    height: 35px !important;
    margin-top: 0 !important;
}
.ow-comment-div .submit-comment {
    margin-top: 4px;
    padding: 6px 15px;
	font-size: 15px;
}
.ow-comment-div .reply-comment-input {
    width: 86% !important;
	height: 28px !important;
}
.ow-comment-div .reply-submit-button{
	margin-top:0;
	
}
.login-input-width{
	width: 80% !important;
    margin-left: 10% !important;
}
.experience-p {
    font-size: 27px;}
.ow3-bg1 {
    margin-top: -350px;
}	
.new-div-width{
	width:80% !important;
	text-transform:none !important;
	font-size:18px;}
.div-100{
	width:100% !important;}	
}
@media all and (max-width: 1090px){
.link-div {
    margin-left: 3%;
}
.index-link-div {
    margin-left: 7.5%;
}	
}
@media all and (max-width: 1080px){
.menu-link-div, .mobile-text-div{
	font-size: 14px;
	}
.menu-link-div{
padding-left: 7%;}
}
@media all and (max-width: 1070px){
.logo-img {
    width: 100%;
}	

.mobile-img {
    width: 10px;
}

.bg1-h1 {
    margin-top: -200px;
}	
.h1 {
    font-size: 36px;
}
.body-text2 {
    font-size: 29px;
}
.body-text {
    font-size: 21px;
}
.menu-link-div{
	padding-top: 8px;
	}
.bg3-div1 {
    padding-top: 40px;}
.bg1-h1 {
    margin-top: -100px;
}

.ow-normal-menu-div {
    width: 74%;
}

.search-div{
	padding-left:20px;}
.menu-link-div2 {
    width: calc(100% - 425px);
}
.ow-menu-link-div-admin {
    width: calc(100% - 315px);
}
.carousel-inner {
    margin-top: 55px;
}
.phone-img {
    width: 13px;
}

}
@media all and (max-width: 1060px){
.reply-comment-input{
	height: 34px !important;
}
}
@media all and (max-width: 1050px){
.bg-forest {
    padding-top: 200px;}
}
@media all and (max-width: 1020px){
.btm-horizontal {
    width: 78%;
}
}
@media all and (max-width: 1016px){
.bg3-div1 {
    padding-top: 20px;
}	
.bg3-div2 {
    padding-top: 40px;
}
.bg3-div3 {
    padding-top: 45px;
}
}
@media all and (max-width: 1015px){
.cms1-li {
    width: 32.7%;
}

}
@media all and (max-width: 1000px){
.cms-box-date {
    font-size: 16px;
}
.cms-box-title {
    font-size: 18px;
}
.view-all-button {
    font-size: 18px;
	width: 180px;
}
#modal1{
	width: 70%;
}
.article-date {
    font-size: 16px;}
.article-span-icon{
	font-size: 16px;
}
.article-bookmark-span{
	font-size: 16px;
}
.article-icon-img {
    height: 20px;
    width: auto;
}
.article-title-p{
	font-size: 21px;
}
.article-author-p{
	font-size: 18px;
	}
.pen-icon{
	width:19px;}
.profile-div1 {
    width: 140px;
	padding-top:30px;}	
.username-p2 {
    font-size: 16px;
	margin-top: -6px;
}
.profile-info {
    font-size: 12.5px;
}
.friend-icon {
    width: 15px;
}
.add-friend-span {
    font-size: 11px !important;}
.add-friend-button{
	border-radius: 10px;
	width: 105px;
	margin-top: 30px;
}
.profile-div2 {
    width: calc(100% - 285px);
	padding-top: 30px;
}
.settings{
    width: 25px;
}
.index-link-div {
    margin-left: 6.2%;
}
.mobile-text-div{
	font-size:12px;}
.decline-div {
    margin-top: 10px;
}
.friend-title{
	font-size:21px;}
.friend-search-input{
	font-size:16px !important;}
.friend-search-icon {
    width: 20px;}
.notis-title{
	padding-top: 30px;
}
.notification-div{
	padding-top:0;}

.flag-div {
    padding-top: 35px;
}
.thankyou-p{
	font-size: 32px;
}
.submission-p {
    font-size: 16px;
}
.confirm-a {
    font-size: 18px;
}
.carousel-inner {
    margin-top: 50px;
}
.vertical {
    height: 1415px;
}
.index3-vertical {
    height: 1480px !important;
}
}
@media all and (max-width: 990px){

.link-div{
	margin-left: 4%;
	}
.menu-link-div {
    padding-left: 6%;
}
.index-link-div{
	margin-left:5.9%;}
}
@media all and (max-width: 985px){
.insta-big {
    width: 30.7%;
}	
	
}

@media all and (max-width: 970px){
.btm-horizontal {
    width: 77%;
}	
}
@media all and (max-width: 965px){
.ow-menu-link-div-admin {
    width: calc(100% - 300px);
}

}
@media all and (max-width: 960px){
.bg1-h1 {
    margin-top: -240px;
	margin-bottom: 30px;
}
.bg1 {
    padding-top: 350px;
}
.bg4 {
    padding-top: 400px;
}
.insta-small {
    width: 48.74%;
}
.cms-box-title{
	min-height: 70px;
}
.bg-forest {
    padding-top: 300px;
}
.comment-div2a {
    width: 65%;}
.ow3-forest {
    padding-top: 300px !important;
}
}
@media all and (max-width: 955px){
.width-50 {
    width: 50%;
}	
}
@media all and (max-width: 945px){
.opt-msg {
    width: 94%;
}	

.link-div {
    margin-left: 3.5%;
}
.index-link-div {
    margin-left: 5.7%;
}
}
@media all and (max-width: 940px){
.bg1-div1 {
    margin-top: 70px;
}

}
@media all and (max-width: 930px){
.bg-forest {
    padding-top: 360px;
	margin-top: -350px;
	padding-bottom: 140px;
}


.menu-link-div {
    padding-left: 6.5%;
}	
.link-div {
    margin-left: 3%;
}
.index-link-div {
    margin-left: 5%;
}
.article-cate, .article-sortby {
    font-size: 16px;
}
.article-cate .select-wrapper input.select-dropdown{
    font-size: 16px !important;
    margin-top: 0;	
}
.article-sortby .select-wrapper input.select-dropdown{
	font-size: 16px !important;
    margin-top: 0;
}
.article-cate .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    line-height: normal;
    padding: 8px 10px;
}
.article-cate .dropdown-content li{
	min-height: auto;
    line-height: normal;
}
.article-sortby .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    line-height: normal;
    padding: 8px 10px;
}
.article-sortby .dropdown-content li{
	min-height: auto;
    line-height: normal;
}
}


@media all and (max-width: 900px){
.menu-link-div{
	margin-left:2%;}
.ow-normal-menu-div {
    width: 70%;
}
.ow-menu-link-div-admin {
    width: 85%;
}
.article-content-div{
	font-size: 15.5px;
}
.article-content-div {
    width: 85%;}
.big-icon {
    width: 90px;
}
.article-action-div {
    margin-top: 40px;
}
.big-like-p {
    font-size: 27px;
}
.share-p {
    margin-top: 50px;
	font-size: 19px;}
.menu-link-div2 {
    width: calc(100% - 425px);
}
.ow-menu-link-div-admin {
    width: calc(100% - 300px);
}
.notification-content{
    font-size: 16px;	
}
.notification-date{
    font-size: 15px;	
}
.article-cate {
    width: calc(80% - 20px);}
.article-sortby {
    width: calc(80% - 20px);
    float: left;
    margin-left: 20px;
    margin-right: 0;
    clear: both;
}
.article-sortby-span {
    float: left;}
.view-small{
	display:inline-block;}
.view-big{
	display:none;}
.article-sortby .select-wrapper input.select-dropdown{
	float:left;}
.article-sortby .select-wrapper .caret {
    right: initial;}
.article-cate .select-wrapper input.select-dropdown {
    width: 163.5px !important;}
.experience-p {
    font-size: 24px;}
.view-big2{
	display: block;
}
.view-small2{
	display:none;}
.flag-left{
	float:left;}
}

@media all and (max-width: 895px){
.search-div {
    width: 150px;
}
.menu-link-div2 {
    width: calc(100% - 365px);
}
.admin-search-div {
    width: 140px;
}
.ow-menu-link-div-admin {
    width: calc(100% - 280px);
}
}
@media all and (max-width: 890px){
.link-div {
    margin-left: 3%;
}
.menu-link-div {
    width: 70%;
    margin-left: 4.4%;
	padding-top: 11px;
}	
.menu-link-div, .mobile-text-div {
    font-size: 12px;
}
.ow-menu-link-div-admin {
    width: 81%;
}
.ow-menu-link-div-admin {
    width: calc(100% - 280px);
}
.ow-right-app{
	margin-top:-22px;}
}
@media all and (max-width: 889px){
.vertical {
    height: 1435px;
}
}
@media all and (max-width: 880px){
.vertical {
    height: 1430px;
}
.form-text {
    font-size: 19px;
}
.index3-vertical {
    height: 1500px !important;
}
}
@media all and (max-width: 870px){
.username-p{
	font-size:16px;}
.commentdate-p {
	font-size:14px;}
.reply-p{
	font-size: 16px;
}
.flag-height{
	height: 20px;
}
.like-span-png {
    height: 20px;
}
.like-span2 {
    font-size: 16px;
}
.comment-div2{
	width: calc(92% - 90px);
}
.comment-div3{
    width: 90px;	
}
}
@media all and (max-width: 863px){
.menu-link-div{
	margin-left: 3%;
	}
}
@media all and (max-width: 860px){

.h1 {
    font-size: 32px;
}
.body-text2 {
    font-size: 27px;
}
.body-text {
    font-size: 18px;
}
.bg1-h1 {
    margin-top: -260px;}
.vertical {
    height: 1400px;
}
.ow-cms-box1 {
    margin-left: 10%;
    width: 80%;
}
.index3-vertical {
    height: 1480px !important;
}
}
@media all and (max-width: 850px){
.insta-small {
    width: 48.1%;
    margin-right: 1.5%;
}
.insta-big {
    width: 30.3%;
}
.insta-small2 {
    width: 48.1%;
	margin-left: 1.9%;
}
.white-bg {
    width: 70%;
}
.cms1-date {
    font-size: 15px;
}
.cms1-title {
    font-size: 16px;
}
.cms1-span {
    font-size: 16px;}
.icon-png {
    width: 20px;}
.cms1-ul{
    margin-top: 2px;
    margin-bottom: 2px;}
.com2-view{
	display:none;}
.mobile2-view{
	display:block !important;}
.menu-link-div, .mobile-text-div {
    font-size: 12px;
}
.link-div {
    margin-left: 10%;
}
.menu-link-div{
	padding-left: 10.5%;
	}
.web-menu{
	display:none;}
.mobile-menu{
	display:block;}
.search-div, .admin-search-div {
    width: calc(100% - 150px);
    padding-left: 20%;
    padding-right: 20%;}
.right-app {
    width: 75px;
}
.menu-link-div {
    padding-left: 2%;
    width: calc(100% - 200px);
    margin: 0;
    padding-right: 2%;
}
.link-div {
    margin-left: 0;
    width: 25%;
    text-align: center;
}
.ow-right-app{
	margin-top:0;}
.ow3-mobile-menu{
	margin-top: 2px;
}
}
@media all and (max-width: 840px){
.m80{
	width:90%;}
.m100{
	width:100%;}
.reduce-100{
	height: 50px;}
}


@media all and (max-width: 810px){
.bg1-h1 {
    margin-top: 0;
}
.bg1 {
    padding-top: 120px !important;
	
}
.bg3-div1 {
    padding-top: 10px;
}
.bg3-div2 {
    padding-top: 30px;
}
.bg3-div3 {
    padding-top: 40px;
}
.bg4 {
    padding-top: 180px;
}
.btm-horizontal {
    width: 76.5%;
}
.bg-forest {
    padding-top: 80px;
    padding-bottom: 130px;
}
.cms-box-date {
    font-size: 14px;
}
.cms-box-title {
    font-size: 16px;
}
.cms-box-title {
    min-height: 80px;
}
.view-all-button {
    font-size: 16px;}
.ow3-forest {
    padding-top: 50px !important;
}
}
@media all and (max-width: 800px){
.bg1 {
	background-image:url(../img/bg1-800.jpg);}
.v1500{
	display:none;}
.v800{
	display:block;}
.bg3{
	background-image: url(../img/bg3-800.jpg);}
.bg4{
	background-image: url(../img/bg4-800.jpg);}	
.bg5 {
    background-image: url(../img/bg5-800.jpg);	}
.article-start-div{
	padding: 10px 5%;
}
.artitle-date-div {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.artitle-icon-div {
    float: left;
    width: 100%;
}
.article-span-icon{
	margin-left: 0 !important;
	margin-right: 20px !important;
}
.article-date {
    margin-bottom: 5px;
}
.article-title-p{
	margin-top: 20px;
}
.login-input-width{
	font-size: 16px !important;
}
.forgot-p {
    font-size: 15px;
}
.register-here-p {
    font-size: 15px;
}
.login-p {
    font-size: 24px;}
.edit-profile-div1 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.upload-button {
    width: 120px;
	float: none !important;
    margin-left: auto;
    margin-right: auto;}	
.edit-profile-input{
	float: none !important;
    margin-left: auto;
    margin-right: auto;
	text-align:center;	
}
.edit-profile-div2 {
    padding-bottom: 20px;
}
.input-font {
    font-size: 15px !important;}
.pencil-size {
    width: 18px;
}
.pencila-size {
    width: 15px;
}		
.pencil-position {
    margin-left: -25px;
}	
.icon-input {
    padding-right: 35px !important;}
}

@media all and (max-width: 786px){
.vertical {
    height: 1425px;
}
.index3-vertical {
    height: 1495px !important;
}
}

@media all and (max-width: 781px){
.vertical {
    height: 1435px;
}
.index3-vertical {
    height: 1530px !important;
}

}
@media all and (max-width: 780px){
.footer2{
	font-size:14px;}
.modal-title {
    font-size: 24px;
}
.cross-img {
    width: 25px;
}
.form-span {
    font-size: 16px !important;
}
.form-input2 input {
    font-size: 16.5px !important;
}
#modal1 {
    width: 80%;
}
}
@media all and (max-width: 778px){
.index3-vertical {
    height: 1570px !important;
}
}
@media all and (max-width: 770px){
.form-text, .opt-msg {
    font-size: 16px !important;
}
.logo2 {
    width: 160px;
}
.vertical {
    height: 1360px;
}
.index3-vertical {
    height: 1420px !important;
}
}
@media all and (max-width: 765px){
.logo2 {
    width: 180px;
}
.contact-text {
	font-size:16px;}
.phone-img {
    width: 12px;
    margin-right: 10px;
}
.social-icon {
    width: 40px;}
.googleplay-img{
	width: 140px;
	}
.connect-p {
    margin-bottom: 10px;
	font-size: 24px;
}
.opt-msg {
    font-size: 16px;
}
.input-submit {
    font-size: 18px;
}
.img-height-100 {
    width: 21px;
}
.vertical {
    height: 1320px;
}
.horizontal-img {
    height: 21px;
}
.btm-horizontal {
    width: 75.5%;
}

.menu-link-div {
    margin-left: 0;
	padding-left: 5%;
}	
.ow-menu-link-div-admin {
    width: 85.5% !important;
}
.address-p {
    margin-left: 5px;
}
.index3-vertical {
    height: 1190px !important;
}

.gps-img{
	margin-right:0 !important;}
.index3-vertical {
    height: 1360px !important;
}

}
@media all and (max-width: 761px){
.height-100-clear {
    height: 50px;
}	
.bg3-div2 {
    padding-top: 0;
}
.bg3-div3 {
    padding-top: 30px;
}
.bg1-bottom20 {
    height: 80px;
	margin-top: -80px;}
}
@media all and (max-width: 760px){
.bg1 {
    margin-top: 0 !important;
    padding-top: 350px;}	
.bg1-div1 {
    margin-top: 50px;
}
.bg-forest{
	margin-top: 0;
	padding-top: 120px;
}
.cms-news-container {
    margin-top: 40px;}
.flag-search-input {
    margin-bottom: 25px !important;
}
.category-div, .sortby-div {
    font-size: 16px;
}
.category-div .select-wrapper input.select-dropdown{
    font-size: 16px !important;
    margin-top: 0;	
}
.sortby-div .select-wrapper input.select-dropdown{
	font-size: 16px !important;
    margin-top: 0;
}
.category-div .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    line-height: normal;
    padding: 8px 10px;
}
.category-div .dropdown-content li{
	min-height: auto;
    line-height: normal;
}
.sortby-div .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    line-height: normal;
    padding: 8px 10px;
}
.sortby-div .dropdown-content li{
	min-height: auto;
    line-height: normal;
}
.ow-sortby-div .select-wrapper input.select-dropdown{
	font-size: 17px !important;
    margin-top: -1px;
}
.ow-category-div .select-wrapper input.select-dropdown{
	font-size: 17px !important;
    margin-top: -1px;
}
}

@media all and (max-width: 750px){

.menu-link-div, .mobile-text-div {
    font-size: 11px;
}
.right-app{
	width: 70px;
	}

.ow-menu-link-div-admin {
    width: 87% !important;
}
.link-div{
    font-size: 12px;	
}

}

@media all and (max-width: 740px){
.username-p {
    margin-top: -4px;}	
.index3-vertical {
    height: 1430px !important;
}
}
@media all and (max-width: 737px){
.vertical {
    height: 1370px;
}

}
@media all and (max-width: 730px){
.bg2 {
	background-image:url(../img/bg2-730.jpg);}

}
@media all and (max-width: 720px){
.bg3-div1 {
    padding-top: 0;
}
.bg3-div3 {
    padding-top: 20px;
}	
.article-content-div {
    font-size: 15px;
}
.profile-div1 {
    width: 120px;
	padding-left: 10px;
}
.username-p2 {
    font-size: 15px;
    margin-top: -5px;
}
.profile-info {
    font-size: 11.5px;
}
.add-friend-button {
    margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 2px;
}
.profile-div2 {
    width: calc(100% - 240px);}
.settings{
	padding-top:0;}
.friend-title {
	padding-left:10px;
	padding-right:10px;
}
.friend-search-input {
    width: calc(100% - 20px) !important;
    margin-left: 10px !important;
}
.notification-div {
    padding-left: 10px;
    padding-right: 10px;
}
.category-div {
    width: calc(50% - 10px);
    margin-left: 10px;
}
.sortby-div {
    width: calc(50% - 10px);
    margin-right: 10px;
}
.search-button-a{
	margin-left:-50px;}
.friend-search-icon{
	margin-left:0;}
.article-cate {
    width: calc(80% - 10px);}
.article-sortby {
    width: calc(80% - 10px);
    float: left;
    margin-left: 10px;
    margin-right: 0;
    clear: both;
}
.article-sortby-span {
    float: left;}
.view-small{
	display:inline-block;}
.view-big{
	display:none;}
.article-sortby .select-wrapper input.select-dropdown{
	float:left;}
.article-sortby .select-wrapper .caret {
    right: initial;}
.article-cate .select-wrapper input.select-dropdown {
    width: 163.5px !important;}
.indicator-img {
    width: 25px;
}
}

@media all and (max-width: 713px){
.phone-img{
   margin-right: 3px;	
}
}

@media all and (max-width: 705px){
.form-text, .opt-msg {
    font-size: 15px !important;
}
.vertical {
    height: 1280px;
}
.index3-vertical {
    height: 1340px !important;
}
}
@media all and (max-width: 702px){
.index3-vertical {
    height: 1360px !important;
}
.vertical {
    height: 1300px;
}
}
@media all and (max-width: 700px){
.bg1-h1 {
    margin-top: 0 !important;
}

.bg1-div1 {
    margin-top: 40px;
}
.btm-horizontal {
    width: 74.5%;
}
.username-p {
    font-size: 15px;
}
.commentdate-p {
    font-size: 13px;
}
.comment-p {
    font-size: 15px;
}
.reply-p {
    font-size: 15px;
	margin-top: 10px;
    margin-bottom: 10px;
}
.toggle-p{
	margin-top: -10px;
	margin-bottom: 20px;
}
.reply-p {
    font-size: 14px;}
.comment-input{
    font-size: 14px !important;	
	height: 34px !important;
	width: 80% !important;
}
.submit-comment{
	font-size: 13px !important;
}
.reply-comment-input {
    width: 71% !important;
}
.ow-comment-input{
	width: 87% !important;
}
.category-div {
    width: calc(80% - 10px);}
.sortby-div {
    width: calc(80% - 10px);
    float: left;
    margin-left: 10px;
    margin-right: 0;
    clear: both;
}
.sortby-span {
    float: left;}
.view-small{
	display:inline-block;}
.view-big{
	display:none;}
.sortby-div .select-wrapper input.select-dropdown{
	float:left;}
.sortby-div .select-wrapper .caret {
    right: initial;}
.category-div .select-wrapper input.select-dropdown {
    width: 134px !important;}
.flag-div {
    padding-top: 5px;
    clear: both;
}
.article-cate {
    width: calc(80% - 10px);}
.article-sortby {
    width: calc(80% - 10px);
    float: left;
    margin-left: 10px;
    margin-right: 0;
    clear: both;
}
.article-sortby-span {
    float: left;}
.article-sortby .select-wrapper input.select-dropdown{
	float:left;}
.article-sortby .select-wrapper .caret {
    right: initial;}
.article-cate .select-wrapper input.select-dropdown {
    width: 163.5px !important;}
.view-big2 {
    display: none;
}
.view-small2 {
    display: block;
}
.ow3-bg1{
	padding-top: 70px !important;
}
}
@media all and (max-width: 698px){
.vertical {
    height: 1320px;
}
.index3-vertical {
    height: 1380px !important;
}
}

@media all and (max-width: 695px){
.vertical {
    height: 1335px;
}
.index3-vertical {
    height: 1400px !important;
}
}
@media all and (max-width: 689px){
.bg3-div3 {
    padding-top: 0;
}
.vertical {
   height: 1315px;
}	
.right-div{
	padding-top: 5px;
}
.index3-vertical {
    height: 1375px !important;
}
}

@media all and (max-width: 680px){
.bg-forest {
    padding-top: 90px;
	padding-bottom: 120px;
}
.cms-news-container{
	margin-left:0;}
.cms-box1 {
    width: 100%;
	margin-left:0;}
.cms-box-title {
    min-height: 0;
}
.bg-forest {
    background-image: url(../img/forest-bg-680.jpg);}
}
@media all and (max-width: 670px){
.h1 {
    font-size: 27px;
}
.body-text2 {
    font-size: 22px;
}
.body-text {
    font-size: 15px;
}
.text-p {
    margin-top: 5px;
}
.bg3-div1 {
    padding-top: 20px;
}
.bg3-div2 {
    padding-top: 40px !important;
}
.body-text3 {
    font-size: 16px;
}
.width-full{
	margin-top: 40px;
	}
.m100 {
    margin-top: 20px;
}
.opt-msg {
    font-size: 14px;
}
.input-submit {
    font-size: 16px;
	padding: 5px 25px;
}
.googleplay-img {
    width: 120px;
}
.social-icon {
    width: 30px;
}
.contact-text2 {
    margin-bottom: 5px;
}
.white-box{
	padding-bottom: 100px;
	}

.btm-horizontal{
	margin-top: 50px;
	}
.comment-div2a {
    width: 63.5%;
}	
.white-bg {
    width: 85%;
}
.comment-input{
	width: 90% !important;
}
.reply-comment-input {
    width: 82% !important;
}
.ow-comment-div .submit-comment {
    margin-top: 5.5px;}
.ow-comment-div .reply-submit-button {
    margin-top: 3px;
}
.phone-img {
    width: 10px;}
.index3-vertical {
    height: 1290px !important;
}
.gps-img{
	margin-top:0;}
.vertical {
    height: 1210px;
}	
}
@media all and (max-width: 665px){
.gps-img {
    float: left;
    margin-top: 5px;
}

}
@media all and (max-width: 660px){
.bg3-div1 {
    padding-top: 10px;
}
.bg3-div2 {
    padding-top: 25px !important;
}	
.bg3-div3 {
    padding-top: 35px !important;
}
.width-full {
    width: 100%;
    margin-left: 0;
}
.three-div {
    width: auto;
    float: none;
}
.im1{
	width:31.33%;
	margin:1% 1%;}
.insta10{
	display:inline-block;}
.insta5{
	display:none;}
}

@media all and (max-width: 656px){
.address-p{
	width: calc(100% - 25px);
	float: left;
    margin-left: 5px;
}
.gps-img{
	margin-top:0;
	margin-left:0;}

}
@media all and (max-width: 654px){
.opt-msg {
    width: 92%;
}

}
@media all and (max-width: 650px){
.vertical {
    height: 1235px;
}
.bg5{
	padding-top:50px;
	padding-bottom:50px;}
.white-bg {
    width: 80%;
}
#modal1{
	max-height: 80vh !important;
	top:10vh !important;
}
.diy-blue-wave, .diy-blue-line-wave{
    height: auto !important;
    line-height: normal !important;
    padding: 12px 0 !important;}
.article-title-p {
    margin-top: 35px;
}
}
@media all and (max-width: 640px){


.bg1-bottom {
    height: 70px;
	margin-top: -70px;}	
.search-div, .admin-search-div {
    padding-left: 10%;
    padding-right: 10%;
}
.link-div {
    margin-left: 7%;
    width: auto;}	
}


@media all and (max-width: 638px){
.index3-vertical {
    height: 1320px !important;
}
}
@media all and (max-width: 625px){
.close-img{
	margin-right:5% !important;}

}
@media all and (max-width: 620px){
.bg3-div2 {
    padding-top: 5px !important;
}
.bg3{
	padding-bottom: 100px;
	}
.bg3-div3 {
    padding-top: 30px !important;
}
}
@media all and (max-width: 607px){
.vertical {
    height: 1265px;
}
}
@media all and (max-width: 606px){
.index3-vertical {
    height: 1345px !important;
}

]
@media all and (max-width: 600px){
.bg1 {
    padding-top: 120px;
}
.btm-horizontal {
    width: 72.5% !important;
}
.cms1-date {
    font-size: 14px;
}
.cms1-title {
    font-size: 15px;
}
.cms1-span {
    font-size: 15px;
}
.icon-png {
    width: 16px;
}
.cms1-box{
	margin-bottom: 40px;
}
.white-bg {
    width: 100%;
}
.grey-bg {
    background-color: white;
}
.modal-title {
    font-size: 21px;
}
#modal1 {
    width: 90%;
}
.diy-blue-wave, .diy-blue-line-wave  {
    border-radius: 10px;
    width: 150px;
    height: auto !important;
    padding: 12px 0 !important;
    line-height: auto !important;
    line-height: normal !important;
}
.article-content-div {
    width: 90%;
}
.big-icon {
    width: 80px;
}
.article-action-div {
    margin-top: 20px;
}
.big-like-p {
    font-size: 24px;
}
.ow-cms-box1{
	width: 75%;
    margin-left: 12.5%;
}
.article-icon-img{
	height:auto !important;
	width:20px !important;}
.pen-icon{
	width:18px;}
.close-img {
    margin-right: 0 !important;
}
.edit-profile-div {
    padding-top: 30px;
	padding-bottom:0;
}
.gap {
    margin-top: 50px;
}
}
@media all and (max-width: 592px){
.bg3-div1 {
    padding-top: 0;
}
.bg3-div2 {
    padding-top: 5px !important;
}
.bg3-div3 {
    padding-top: 20px !important;
}
}

@media all and (max-width: 580px){
.bg1-div1 {
    margin-top: 30px;
}
}
@media all and (max-width: 570px){
.thankyou-p{
	font-size:27px;}
.submission-p {
    font-size: 15px;
}
.confirm-a {
    font-size: 16px;
}
}
@media all and (max-width: 562px){
.bg3-div2 {
    padding-top: 0px !important;
}
.bg3-div3 {
    padding-top: 0px !important;
}
}
@media all and (max-width: 550px){
.menu-link-div {
    padding-left: 10px;
    padding-right: 0;
}
.r-none {
    float: none;
    margin: 0 auto;
	padding:0;
}
.r-width {
    width: 80%;
}
.bg1-bottom {
    height: 70px;
    margin-top: -130px;
}
.bg2-div1{
	padding-top: 100px !IMPORTANT;
    padding-bottom: 100px !important;
	}
.bg2 {
	background-image:url(../img/bg2-550.jpg);}
.bg1-bottom20 {
    height: 50px;	
	margin-top: -50px;}
.share-p{
    font-size: 18px;	
}
.left-logo{
	width: 100px;
}
.menu-img, .close-img {
    width: 20px;
}
.friend-title {
    font-size: 18px;
}
.notification-content {
    font-size: 15px;
}
.notification-date {
    font-size: 14px;
}
.vertical {
    height: 1315px;
}
.index3-vertical {
    height: 1390px !important;
}
}
@media all and (max-width: 542px){
.form-text {
    font-size: 17px;
}

}
@media all and (max-width: 540px){
.btm-horizontal {
    width: 71% !important;
}	

.horizontal1 {
	width: 98%;
	}


}
@media all and (max-width: 530px){
.white-bg {
    width: 100%;
}
.grey-bg{
	background-color:transparent;}
.cms1-title {
    font-size: 14px;
	margin-bottom: 20px;
}
.cms1-date {
    font-size: 13px;
}	
.index3-vertical {
    height: 1430px !important;
}
}
@media all and (max-width: 525px){
.sidenav-close {
    padding-right: 20% !important;
}
}
@media all and (max-width: 524px){
.mobile-text-div {
    font-size: 10px;
}
.link-div {
    margin-left: 5%;}
.menu-link-div{
    width: calc(100% - 170px);
	padding-left:0;	
}
.link-div {
    margin-left: 0;
    width: 25%;
}
}
@media all and (max-width: 520px){

.bg-forest {
    padding-top: 140px;}
.ow3-bg1 {
    padding-top: 140px !important;
}
}
@media all and (max-width: 509px){
.opt-msg {
    width: 90%;
}

}
@media all and (max-width: 500px){
.bg1 {
	background-image:url(../img/bg1-500.jpg);}
.v800{
	display:none;}
.v500{
	display:block;}
.bg3{
	background-image: url(../img/bg3-500.jpg);}
.bg4{
	background-image: url(../img/bg4-500.jpg);}	
.bg5{
	background-image: url(../img/bg5-500.jpg);}	
.ow-comment-div .comment-input {
    height: 25px !important;}
.ow-comment-div .submit-comment {
    margin-top: 0;
}
.ow-box-title {
    font-size: 14.5px;
}
.ow-article-box-date {
    font-size: 13.5px;
}
.login-input-width {
    width: 90% !important;
    margin-left: 5% !important;
}
.tab-span {
    font-size: 14px;
}
.tab-icon {
    width: 12px;
}
.category-div, .sortby-div {
    font-size: 15px;
}
.category-div .select-wrapper input.select-dropdown {
    font-size: 15px !important;}
.sortby-div .select-wrapper input.select-dropdown {
    font-size: 15px !important;}
.ow-category-div .select-wrapper input.select-dropdown {
    margin-top: 1px;
}
.ow-sortby-div .select-wrapper input.select-dropdown {
    margin-top: 0px;
}


}

@media all and (max-width: 494px){
.vertical {
    height: 1365px;
}
}
@media all and (max-width: 490px){
.bg-forest {
    padding-top: 110px;
}
}
@media all and (max-width: 480px){
.artitle-date-div{
	margin-bottom:5px;}
.article-title-p {
    margin-top: 25px;
}
.article-title-p {
    font-size: 18px;
}
.article-author-p {
    font-size: 16px;
}
.article-date {
    font-size: 14px;
}
.article-span-icon {
    font-size: 15px;
}
.article-content-div {
    font-size: 14px;
}
.ow3-bg1 {
    padding-top: 100px !important;
}
}
@media all and (max-width: 475px){
.menu-link-div, .mobile-text-div {
    font-size: 10px;
}

.mobile-img {
    width: 8px;
}
.right-app {
    width: 60px;
}
.menu-link-div {
    padding-left: 8.5%;
	padding-top: 9px;
}
.menu-img, .close-img {
    width: 20px;
	margin-top: 7px;
}
.left-logo {
    width: 85px;
}
.search-div, .admin-search-div {
    width: calc(100% - 105px);}
.search-input {
    margin-top: 3px !important;
}
.png-submit-button {
    line-height: 30px;
}
.link-div {
    margin-left: 7%;
    width: auto;
}
.menu-link-div {
    width: calc(100% - 145px);
	padding-left:0;}
.carousel-inner {
    margin-top: 49px;
}
}
@media all and (max-width: 470px){

.cms-box-title {
    font-size: 15px;
}
.view-all-button {
    font-size: 15px;
}
.bg-forest {
    padding-top: 80px;
}
.comment-input {
    width: 82% !important;
}
.reply-comment-input {
    width: 73% !important;
}
.comment-input {
    font-size: 13px !important;
    height: 30px !important;
    margin-top: 0 !important;}
.submit-comment {
    margin-top: 0;
	padding: 8.5px 15.5px;
    border-radius: 15px;
}
.modal-title {
    font-size: 18px;
}
.form-span {
    font-size: 14px !important;
}
.form-input2 input {
    font-size: 14.5px !important;
	height: 35px !important;
    line-height: 35px !important;
}
.diy-blue-wave, .diy-blue-line-wave{
	font-size: 13.5px;
}
.vertical {
    height: 1380px;
}
}
@media all and (max-width: 465px){
.sidenav-close {
    padding-right: 17.5% !important;
}
}
@media all and (max-width: 460px){
.white-box{
	    padding-top: 20px;
		padding-left: 20px;
        padding-right: 20px;
	}
.horizontal-img {
    height: 17px;
}	
.img-height-100 {
    width: 17px;
}
.vertical {
    width: 17px;}
.btm-horizontal {
    width: 75.5% !important;
}
.vertical {
    height: 1145px;
}
.white-box {
    padding-bottom: 85px;
}
.vertical, .horizontal1{
	display:none;}
}
@media all and (max-width: 455px){
.link-div {
    margin-left: 5%;}

}
@media all and (max-width: 450px){
.bg2-top20 {
    height: 80px;}
.bg3{
	padding-top:100px;
	}
.bg1-bottom20{
	margin-top: -80px;
	}
.bg4 {
    padding-top: 100px;
}
.profile-div1 {
    width: 100px;
    padding-top: 10px;
}
.profile-div2{
	padding-top: 10px;
	width: calc(100% - 220px);
}
.add-friend-button{
	margin-top: 10px;
}
}
@media all and (max-width: 440px){
.ow3-bg1 {
    padding-top: 50px !important;
}

}
@media all and (max-width: 435px){
.link-div {
    font-size: 11px;
}
.mobile-text-div {
    font-size: 9px;
}
.right-app {
    width: 55px;
}
.menu-link-div {
    width: calc(100% - 140px);}
.carousel-inner {
    margin-top: 46px;
}	
	
}
@media all and (max-width: 430px){
.bg-forest {
    padding-top: 120px;}	
.add-friend-button {
    margin-top: 0;
    float: left;
}
.profile-div2 {
    width: calc(100% - 155px);
}
.profile-div1 {
    width: 115px;}
.v-430{
	display:block;}
.v1920a{
	display:none;}
.settings {
    float: left !IMPORTANT;
	margin-top: 10px;
}
.accept-div{
	margin-left: 0;
    margin-top: 8px !important;}
.decline-div{
	margin-top:8px !important;
	padding-top: 2px;
    padding-bottom: 1.1px;}
.third-div{
	margin-left: 4% !important;
    margin-top: 10px;
}
.accept-button{
	margin-left:4%;}
.ow3-bg1 {
    padding-top: 110px !important;
}
}

@media all and (max-width: 420px){
.h1 {
    font-size: 24px;
}
.body-text2 {
    font-size: 19px;
}
.body-text {
    font-size: 13px;
}
.body-text3 {
    font-size: 13px;
}
.bg4{
	padding-bottom:80px;}
.vertical {
    height: 1080px;
}
.btm-horizontal {
    width: 74.5% !important;
}
.cms1-span {
    font-size: 14px;
}
.icon-png {
    width: 14px;
	margin-right: 4px;
}
.cms1-li {
    width: 32.5%;
}
.pen-icon{
	width:18px;}
.index3-vertical {
    height: 1120px !important;
}	
}
@media all and (max-width: 415px){
.like-span2 {
    font-size: 14px;
}
.comment-div3 {
    width: 85px;
}	
.comment-div2a {
    width: 61%;
}
.reply-comment-input {
    width: 71% !important;
}
}
@media all and (max-width: 410px){
.link-div {
    margin-left: 6.5%;
}	
.sidenav-close {
    padding-right: 17% !important;
}
.width-100 {
    padding-left: 5%;
    padding-right: 5%;
}
.close-img{
	margin-right:-6% !important;}
}
@media all and (max-width: 400px){
.bg-forest {
    padding-top: 80px;
}
.modal-title {
    font-size: 16.5px;
}
.png-submit-button {
    width: 15px;
    margin-left: -17px;
}
.experience-p {
    font-size: 21px;}
.experience-div{
	padding-top:10px;
	margin-bottom: 40px;}
.username-p {
    margin-top: -2px;
}
.ow3-bg1 {
    padding-top: 80px !important;
}
}
@media all and (max-width: 395px){
.mobile-text-div{
	font-size: 8px;}
.right-app {
    width: 50px;
}
.menu-link-div{
	font-size:9px;
	padding-top: 11px;}
.top-div {
    padding-top: 5px;}
.comment-div2 {
    width: calc(92% - 81px);
}
.username-p {
    font-size: 14px;
}
.commentdate-p {
    font-size: 12px;
}
.like-span2 {
    font-size: 13px;
}
.like-span-png {
    height: 18px;
}
.flag-height {
    height: 18px;
}
.comment-div3 {
    width: 81px;
}
.comment-div{
	padding-top: 20px;
}
.comment-p {
    font-size: 13.5px;
}
.reply-p {
    font-size: 13.5px;
}
.diy-blue-wave, .diy-blue-line-wave {
    font-size: 12.5px;
}
.carousel-inner {
    margin-top: 41px;
}
}
@media all and (max-width: 393px){
.vertical {
    height: 1080px;
}
.opt-msg {
    width: 88%;
}
}
@media all and (max-width: 390px){
.link-div {
    margin-left: 5%;
}
}
@media all and (max-width: 385px){
.submit-comment {
    font-size: 12px !important;
}
.comment-input {
    font-size: 12px !important;
    height: 28px !important;}
}
@media all and (max-width: 380px){
.bg1 {
    padding-top: 80px !important;}
	
.accept-div, .decline-div, .third-div{
	width:80px}
.search-accept-div{
	width: 120px;
}
}
@media all and (max-width: 377px){
.vertical {
    height: 1100px;
}
.index3-vertical{
	display: none;
}
.index3-horizontal{
	display: none;	
}
}
@media all and (max-width: 375px){
.vertical {
    height: 1115px;
}
.comment-input {
    width: 75% !important;
}
.comment-div2a {
    width: 52%;
}
.comment-input {
    width: 90% !important;
}
.reply-comment-input {
    width: 76.5% !important;
	height: 23px !important;
}
.comment-div2{
	padding-right: 10px;
}
.reply-submit-button {
    padding: 6px 12px;
}
.comment-p {
    font-size: 13px;
}
.reply-p {
    font-size: 13px;
}
}
@media all and (max-width: 370px){
.big-icon {
    width: 60px;
}
.big-like-p {
    font-size: 21px;
}

.left-logo {
    width: 70px;
}
.menu-link-div {
    width: calc(100% - 120px);
	padding-top:5px;
}
.search-div, .admin-search-div {
    width: calc(100% - 90px);
}
.ow3-bg1{
	padding-top: 40px !important;
}
}
@media all and (max-width: 367px){
.vertical {
    height: 1135px;
}
.btm-horizontal {
    width: 73% !important;
}
}
@media all and (max-width: 365px){
.sidenav-close {
    padding-right: 16% !important;
}

}
@media all and (max-width: 360px){
.bg1 {
    padding-top: 70px !important;
}
.bg-forest {
    padding-top: 120px;
}
.ow3-bg1{
	padding-top:120px !important;}
}
@media all and (max-width: 355px){
.mobile-text-div {
    font-size: 7px;
}	
.right-app {
    width: 47px;
}

.link-div {
    margin-left: 4%;
}
.carousel-inner {
    margin-top: 40px;
}
}
@media all and (max-width: 341px){
.horizontal-img{
	display:none;}
.vertical{
	display:none;}
.white-box {
    padding-bottom: 35px;
}
.social-icon {
    width: 25px;
	margin-right: 10px;
    margin-left: 10px;
}
.menu-link-div {
    width: calc(100% - 118px);}
}
@media all and (max-width: 335px){
.opt-msg {
    width: 86%;
}
.comment-div2{
	padding-left: 10px;
}
.reply-comment{
	margin-left: calc(8% + 10px);
}
.comment-p{
	margin-top: 0;
    margin-bottom: 8px;
}
.comment-input{
	height: 23px !important;
	width: 78% !important;
}
.submit-comment{
	padding: 6px 12px;
    border-radius: 15px;
}
.comment-div2a {
    width: 58%;
    margin-left: 10px;
}
.reply-comment-input {
    width: 70% !important;
    height: 22px !important;	
}
.reply-commentdiv3a {
    margin-right: -3.5%;
}
.reply-comment {
    width: calc(92% - 10px);}
.one-comment-div{
	padding-bottom: 30px;
}
.ow-comment-input{
	width: 92% !important;
}
.link-div {
    margin-left: 3%;
}
.article-sortby .select-wrapper input.select-dropdown{
	width:150px !important;}
.article-cate .select-wrapper input.select-dropdown {
    width: 135px !important;
}

}
@media all and (max-width: 330px){
.bg-forest {
    padding-top: 80px;
}
.sidenav-close {
    padding-right: 15% !important;
}
.cms1-li {
    width: 32%;
}
}
@media all and (max-width: 325px){
.link-div {
    font-size: 10px;
}
}
@media all and (max-width: 320px){
.comment-input {
    width: 70% !important;	
}
.reply-comment-input {
    width: 62% !important;}
.ow-comment-input{
	width: 90% !important;
}
.accept-div, .decline-div, .third-div{
	width:70px}
.friendlist-un {
    display: none;}
.third-div{
	padding-top: 3px;
    padding-bottom: 1px;}
.search-accept-div{
	width: 120px;
}
.ow3-bg1 {
    padding-top: 80px !important;
}
}
@media all and (max-width: 311px){
.right-app {
    width: 40px;
}
.link-div {
    margin-left: 3%;
}	
.menu-link-div {
    width: calc(100% - 110px);
}
}